<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes do Coquetel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="info">
    <img [src]="info.strDrinkThumb" />
    <h2>{{ info.strDrink }}</h2>
    <h3>Ingredientes:</h3>
    <ul>
      <li *ngFor="let ingredient of getIngredients(info)">
        {{ ingredient }}
      </li>
    </ul>
    <h3>Instruções:</h3>
    <p>{{ info.strInstructions }}</p>
  </div>
</ion-content>
