<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes do Coquetel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="info">
    <img [src]="info.strDrinkThumb" />
    <h2>{{ info.strDrink }}</h2>
    <h3>Ingredientes:</h3>
    <ion-list>
      <ion-item *ngFor="let ingredient of getIngredients(info)">
        {{ ingredient }}
      </ion-item>
    </ion-list>
    <h3>Instruções:</h3>
    <p>{{ info.strInstructions }}</p>
  </ion-card>
</ion-content>
