@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-thumbnail {
  --size: 140px;
  --border-radius: 14px;
}

button{
  font-size: 20pt;
  background-color: #fed639;
  color: #000000d8;
  font-family: 'Open Sans', sans-serif;
}
.header{
  --background:#fed639;  
}

.btnMais{
  --background: #fed639;
}